@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 19, 21;
  --background-start-rgb: 17, 19, 21;
  --background-end-rgb: 17, 19, 21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 19, 21;
    --background-start-rgb: 17, 19, 21;
    --background-end-rgb: 17, 19, 21;
  }
}

body {
  background-image: url('/img/bg-cafe.jpg'); /* URL de la imagen de fondo */
  background-size: cover;
  background-size: 100% 300px;
  background-repeat: no-repeat;
  background-color: #111315;
}

.grid-temp {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  margin-left: 125px;
  margin-right: 125px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.coffee-name {
  font-size: 16px;
  display: flex;
}

.price {
  background-color: #BEE3CC;
  border-radius: 6px;
  padding: 0.4rem;
}

.popular {
  background-color: #F6C768;
  border-radius: 20px;
  padding: 5px 18px;
  margin-top: -150px;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
}

.rating{
  font-size: 14px;
}

.votes{
  padding-left: 5px;
  color: #6F757C;
}

.no-rating{
  display: flex;
  justify-content: space-between;
}

.sold-out {
  color: #ED735D;
  margin-right: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
