@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 19, 21;
  --background-start-rgb: 17, 19, 21;
  --background-end-rgb: 17, 19, 21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 19, 21;
    --background-start-rgb: 17, 19, 21;
    --background-end-rgb: 17, 19, 21;
  }
}

body {
  background-image: url('/img/bg-cafe.jpg'); /* URL de la imagen de fondo */
  background-size: cover;
  background-size: 100% 300px;
  background-repeat: no-repeat;
  background-color: #111315;
}

.grid-temp {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-left: 125px;
  margin-right: 125px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
